body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: size 100px;
    background-color: #3296af;
  }
  
  header {
    margin: 50px;
    background-color:#7cc3c5; 
    color: #ffffff;
  }
    
  footer {
    background-color: #7cc3c5;
    text-align: right;
    margin: 50px;
  
  }

  .nav {
    font-size: larger;
    font-weight: 500;
    font-stretch: 3rem;
    text-align: center;
    
    }

  .main {
    margin: 50px;
    padding: 1rem;
    
  }

  p {
    text-align: center;

  }

 
  h2 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: rgb(255, 255, 255);
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    color: white;    
  }

  .icons {
    width: 3rem;
    margin: 1rem;
    height: auto;
          
  }

.box {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

.infolist {
  list-style-type: none;
  padding: 2rem;
  align-items: center;
  margin: 0.2rem;
  list-style-position: center;

}

#profilepicture {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 3px solid white;
  margin: 2rem;
}
 